
input:focus, textarea:focus, select:focus{
    outline: none;}

.text_form {
    position: sticky;
    justify-content: center;
    padding: 60px 60px 10px;
    font-family: 'Montserrat';
    height: 250px;
    top: 0px;
    z-index: 999;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/miet-talk.appspot.com/o/Documents%2FDoc_background.svg?alt=media&token=a5d0d158-0b90-47bc-b65d-ef7da8d5341f');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }

.title_form {
    font-size: 30px;
    color: white;
    text-align: left;
    }

    .form_p {
        padding-top: 90px;
        font-size: 15px;
        color: #788C9B;
        text-align: left;
        }
      
    .form {
        margin-top: 20px;
        text-align: center;
        }
    
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            text-align: center;
            font-family: "Montserrat";
            color:#F99746;
            font-weight: 400;
            font-size: 18px;
        }
            

        .title {
            height: 40px;
            width: 265px;
            margin-top: 5px;
            margin-left: 0px !important;
            font-size: 17px;
            font-family: 'Montserrat';
            color: #788C9B;
            text-align: left;
            border-color: #71A0FF;
            border-width: 1px;
            border-radius:40px;
            text-align: center;
            }
        

         .submit {
                text-align: center;
                margin-top: 20px ;
                margin-left:auto;
                width: 290px;
                height: 55px;
                background-color: #233862;
                border-color: transparent;
                border-radius: 40px;
                color:white;
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 18px;     
              }

              