.Intro_page_3 {
    text-align: center;
  }
  
  .container3{
    background-image: url(file:///C:/Users/emmas/.vscode/projektarbeit-miet-talk-app/src/pictures/Welcome%203.jpg);
    height: 926px; 
    width: 428px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  