
  .text_intro_3{
    display: block;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px 0px;
    font-family: 'Montserrat';
  }

  .intro_3_h1 {
    padding-top: 20px;
    font-size: 40px;
    color: #233862;
    text-align: left;
    }

    .intro_3_p {
      margin-top: 20px;
      font-size: 15px;
      color: #233862;
      text-align: left;
      }

  .button_to_login {
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 280px;
}

  .login_register{
    height: 65px; 
    width: 65px;
  }

  .container3{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/miet-talk.appspot.com/o/Introduction%2FWelcome%203.svg?alt=media&token=4894df8b-d8be-45e7-9e75-1d5ec264fb95');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  
  .close_intro_container {
    padding-top: 50px;
    margin-right: 40px;
    text-align: right;
  }

  .close_button {
    height: 23px;
    width: 23px;
  }

  .dots_container  {
    padding-top: 10px;
    margin-left: 40px;
    text-align: left;
  }
  
  .dots {
    height: 10px;
    width: 52px;
  }