  .heading_mess{
    position: sticky;
    justify-content: center;
    padding: 60px 60px 30px;
    font-family: 'Montserrat';
    height: 130px;
    top: -10px;
    z-index: 999;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/miet-talk.appspot.com/o/Documents%2FDoc_background.svg?alt=media&token=a5d0d158-0b90-47bc-b65d-ef7da8d5341f');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .nachrichten_text{
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 0px !important;
    }
  
    .screen_messages {
        margin-top: 20px;
        margin-bottom: 80px;
        }
    
        .img_mess {
           width: 100%
    }

    .searchbar {
        margin-top: 20px;
        text-align: center;
        }
    
        .search_mess {
           width: 305px;
    }


