  .text_pinn {
    position: sticky;
    justify-content: center;
    padding: 60px 60px 10px;
    font-family: 'Montserrat';
    height: 170px;
    top: 0px;
    z-index: 999;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/miet-talk.appspot.com/o/Documents%2FDoc_background.svg?alt=media&token=a5d0d158-0b90-47bc-b65d-ef7da8d5341f');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .sub_container_news {
  margin-bottom: 80px; }

  .form_container {
    text-align: center;
    justify-content: center;
    
  }
 .from_news {
  justify-content: center;
  
}
  .author {
    height: 25px;
    width: 290px;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #788C9B;
    text-align: left;
    border-color: #71A0FF;
    border-width: 1px;
    border-radius:40px;
    text-align: center;
    margin-left: 0px !important;
    }

    .content {
      height: 60px;
      width: 290px;
      margin-top: 5px;
      font-size: 14px;
      font-family: 'Montserrat';
      color: #788C9B;
      text-align: left;
      border-color: #71A0FF;
      border-width: 1px;
      border-radius:25px;
      text-align: center;
      margin-left: 0px !important;
      }

      .submit_post {
        align-self: center;
        margin-top: 10px ;
        width: 300px;
        height: 40px;
        background-color: #233862;
        border-color: transparent;
        border-radius: 40px;
        color:white;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;     
      }



  .pinn_text{
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 0 !important;
    }

    input[type="file"] {
      display: none;
  }
  .custom-file-upload-news {
      text-align: center;
      font-family: "Montserrat";
      color:#F99746;
      font-weight: 400;
      font-size: 15px;
  }

.feed {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px 0px;
  
}
.news {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: transparent;
  border-radius: 20px;
  color:#788C9B;
  font-family: "Montserrat";
  text-align: left;
  border-bottom: 20px;
  margin-top:15px;
  }

  .post_author {
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
  }

  .post_content {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .post_pic {
   padding-bottom: 10px;
  }

  .post_img {
    width: 50%;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  .link_to_mess {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .post_contact {
    font-size: 12px;
    text-decoration: none;
    color: #788C9B;
  }

  .chat_icon {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    padding: 0px 20px 0px
  }

  .separator {
  margin-top: 0px !important;
  border: 0; border-top: 1px solid #B2B2B2;
   width: 90%;
  }

  .avatar_icon {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    padding: 15px 10px 0px
  }