
.calendar_h
{
    display: block;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px 0px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
  }

  .h1_calendar {
    margin-top: 20px;
    font-size: 30px;
    color: #233862;
    text-align: left;
    }